# Key To Hold
! *.uvprojx
! *.ioc
# Keil Library
**/Drivers/
# Project Files
**/MDK-ARM/
! **/MDK-ARM/App/
! **/MDK-ARM/Bsp/
! **/MDK-ARM/Motor/
! **/MDK-ARM/Sentry/
! **/MDK-ARM/Task

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.s
*.mod*
*.cmd
*.crf
*.mxproject

.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf



*.49997
*.49997
